<div class="navbar">
	<div class="navbar-start">
		<a class="navbar-item">TeleCo2gram</a>
	</div>
	<div class="navbar-end">
		<a class="navbar-item">Home</a>
		<a class="navbar-item">About</a>
		<a class="navbar-item">Contact</a>
	</div>
</div>

<div class="flex w-full overflow-x-auto m-20">
	<table class="table" #table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Dates</th>
				<th>Weight</th>
				<th>User</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let message of messages">
				<th>{{ message.id }}</th>
				<td>{{ message.type }}</td>
				<td>{{ message.date }}</td>
				<td>{{ message.weight }}</td>
				<td>{{ message.user_id }}</td>
			</tr>
		</tbody>
	</table>
</div>



