<link rel="stylesheet" href="app.component.css">

<h1 class="text-3xl font-bold">Frontend</h1>


<div class="flex w-full overflow-x-auto">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Dates</th>
				<th>Status</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>001</th>
				<td>Text</td>
				<td>May 19 2028 - may 22 2028</td>
				<td>Normal</td>
				<td>500 ng.</td>
			</tr>
			<tr>
				<th>002</th>
				<td>Audio</td>
				<td>May 19 2028 - may 22 2028</td>
				<td>High</td>
				<td>3000 ng.</td>
			</tr>
			<tr>
				<th>003</th>
				<td>Video</td>
				<td>jul 20 2025 - jul 23 2025</td>
				<td>Medium</td>
				<td>1000 ng.</td>
			</tr> 

			
		</tbody>
	</table>
</div>
