<link rel="stylesheet" href="app.component.css">

<h1 class="text-3xl font-bold">Frontend</h1>


<div class="flex w-full overflow-x-auto">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Dates</th>
				<th>Status</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>001</th>
				<td>Text</td>
				<td>May 19 2028 - may 22 2028</td>
				<td><span class="status">Normal</span></td>
				<td>500 ng.</td>
			</tr>
			<tr>
				<th>002</th>
				<td>Audio</td>
				<td>May 19 2028 - may 22 2028</td>
				<td><span class="status2">High</span></td>
				<td>3000 ng.</td>
			</tr>
			<tr>
				<th>003</th>
				<td>Video</td>
				<td>jul 20 2025 - jul 23 2025</td>
				<td><span class="status1">Medium</span></td>
				<td>1000 ng.</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="direzione"><Span class="mostra2">tabella2</Span></td>
			</tr>

		</tbody>
	</table>


	<table class="table2">
		<thead>
			<tr>
				<th>ID</th>
				<th class="tipe">Type</th>
				<th>Dates</th>
				<th>Status</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>001</th>
				<td class="tipe"><span>tt tt</span><br>
					<span>info&#64;gamil.com</span>
				</td>
				<td>May 19 2028 - may 22 2028</td>
				<td><span class="status">Normal</span></td>
				<td>500 ng.</td>
			</tr>
			<tr>
				<th>002</th>
				<td class="tipe"><span>tt tt</span><br>
					<span>info&#64;gamil.com</span>
				</td>
				<td>May 19 2028 - may 22 2028</td>
				<td><span class="status1">Medium</span></td>
				<td>1000 ng.</td>
			</tr>
			<tr>
				<th>003</th>
				<td class="tipe"><span>tt tt</span><br>
					<span>info&#64;gamil.com</span>
				</td>
				<td>jul 20 2025 - jul 23 2025</td>
				<td><span class="status2">High</span></td>
				<td>3000 ng.</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="direzione"><Span class="mostra1">tabella1</Span></td>
			</tr>


		</tbody>
	</table>
</div>




<script>
	let pulsante2 = document.querySelector('.mostra2');
	let pulsante1 = document.querySelector('.mostra1');
	const tabella1 = document.querySelector('.table');
	const tabella2 = document.querySelector('.table2');
	tabella2.style.display = "none";
	pulsante1.onclick = function () {
		tabella1.style.display = 'block';
		tabella2.style.display = 'none';
	}
	pulsante2.onclick = function () {
		tabella1.style.display = 'none';
		tabella2.style.display = 'block';
	}
</script>