<h1 class="text-3xl font-bold">Frontend</h1>
<p class="text-content2">{{ title }}</p>
<p>Ciao ciao</p>
<button class="btn btn-primary">Default</button>

<div class="flex w-full overflow-x-auto">
	<table class="table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Where</th>
				<th>Description</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>Cy Ganderton</td>
				<td>Quality Control Specialist</td>
				<td>Blue</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Hart Hagerty</td>
				<td>Desktop Support Technician</td>
				<td>Purple</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Brice Swyre</td>
				<td>Tax Accountant</td>
				<td>Red</td>
			</tr>
		</tbody>
	</table>
</div>
